 .u-section-1 {
  background-image: url("images/LibraryHeroCcrop.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 740px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 465px 0 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 92px -65px 38px 65px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 467px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 350px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 846px;
    margin-right: auto;
    margin-left: 25px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin: -289px -10px 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 502px;
}

.u-section-2 .u-text-1 {
  margin: 43px -15px 0 43px;
}

.u-section-2 .u-text-2 {
  line-height: 1.4;
  margin: 57px -15px 57px 43px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-top: 60px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 2850px;
  margin-bottom: 0;
}

.u-section-3 .u-video-1 {
  width: 1118px;
  height: 660px;
  margin: 15px auto 0 0;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-gallery-1 {
  height: 820px;
  margin-top: 49px;
  margin-bottom: 0;
}

.u-section-3 .u-gallery-inner-1 {
  --gap: 0px;
  grid-template-columns: repeat(2, auto);
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-5 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-6 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-video-2 {
  width: 1118px;
  height: 660px;
  margin: 219px auto 60px;
}

.u-section-3 .embed-responsive-2 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2574px;
  }

  .u-section-3 .u-video-1 {
    width: 940px;
    height: 555px;
  }

  .u-section-3 .u-gallery-1 {
    height: 676px;
  }

  .u-section-3 .u-video-2 {
    width: 940px;
    height: 555px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2538px;
  }

  .u-section-3 .u-video-1 {
    width: 720px;
    height: 425px;
  }

  .u-section-3 .u-gallery-1 {
    height: 2071px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-video-2 {
    width: 720px;
    height: 425px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3392px;
  }

  .u-section-3 .u-video-1 {
    width: 540px;
    height: 319px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1553px;
  }

  .u-section-3 .u-video-2 {
    width: 540px;
    height: 319px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1765px;
  }

  .u-section-3 .u-video-1 {
    width: 340px;
    height: 201px;
  }

  .u-section-3 .u-gallery-1 {
    height: 978px;
  }

  .u-section-3 .u-video-2 {
    width: 340px;
    height: 201px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 3488px;
}

.u-section-4 .u-image-1 {
  height: 563px;
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  margin: -179px -107px 0 107px;
}

.u-section-4 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 11px 28px 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 211px 0 0 50px;
}

.u-section-4 .u-text-3 {
  margin: 37px 28px 0;
}

.u-section-4 .u-video-1 {
  width: 1118px;
  height: 660px;
  margin: 248px auto 0 0;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

.u-section-4 .u-gallery-1 {
  height: 376px;
  margin-top: 173px;
  margin-bottom: 0;
}

.u-section-4 .u-gallery-inner-1 {
  --gap: 10px;
  grid-template-columns: repeat(2, auto);
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-video-2 {
  width: 1118px;
  height: 660px;
  margin: 173px auto 60px -11px;
}

.u-section-4 .embed-responsive-2 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3640px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: -15px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-video-1 {
    width: 940px;
    height: 555px;
    margin-top: 412px;
  }

  .u-section-4 .u-gallery-1 {
    height: 310px;
  }

  .u-section-4 .u-video-2 {
    width: 940px;
    height: 555px;
    margin-top: 622px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 4218px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 14px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -48px;
  }

  .u-section-4 .u-video-1 {
    width: 720px;
    height: 425px;
    margin-top: 441px;
  }

  .u-section-4 .u-gallery-1 {
    height: 950px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-video-2 {
    width: 720px;
    height: 425px;
    margin-top: 513px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3541px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 11px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-4 .u-video-1 {
    width: 540px;
    height: 319px;
  }

  .u-section-4 .u-gallery-1 {
    height: 713px;
  }

  .u-section-4 .u-video-2 {
    width: 540px;
    height: 319px;
    margin-top: 424px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2355px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -180px;
    margin-right: -11px;
    margin-left: 11px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 61px;
    margin-right: 42px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 168px;
  }

  .u-section-4 .u-video-1 {
    width: 340px;
    height: 201px;
    margin-top: 103px;
    margin-right: -11px;
    margin-left: auto;
  }

  .u-section-4 .u-gallery-1 {
    width: 340px;
    margin-top: 42px;
    margin-right: -11px;
    margin-left: auto;
    height: 449px;
  }

  .u-section-4 .u-video-2 {
    height: 201px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 2410px;
}

.u-section-5 .u-image-1 {
  height: 563px;
  margin-top: 144px;
  margin-bottom: 0;
}

.u-section-5 .u-text-1 {
  --text-color-var: #0a0000;
  font-size: 3rem;
  margin: -5px -28px 0 28px;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 37px 0 0 50px;
}

.u-section-5 .u-text-3 {
  margin: 37px 28px 0;
}

.u-section-5 .u-video-1 {
  width: 1118px;
  height: 660px;
  margin: 73px auto 0 0;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

.u-section-5 .u-gallery-1 {
  height: 375px;
  margin-top: 87px;
  margin-bottom: 60px;
}

.u-section-5 .u-gallery-inner-1 {
  --gap: 10px;
  grid-template-columns: repeat(2, auto);
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3486px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 44px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-video-1 {
    width: 940px;
    height: 555px;
    margin-top: 412px;
  }

  .u-section-5 .u-gallery-1 {
    height: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3864px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 73px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -48px;
  }

  .u-section-5 .u-video-1 {
    width: 720px;
    height: 425px;
    margin-top: 441px;
  }

  .u-section-5 .u-gallery-1 {
    height: 947px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3415px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -868px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-5 .u-video-1 {
    width: 540px;
    height: 319px;
  }

  .u-section-5 .u-gallery-1 {
    height: 710px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2313px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 60px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 170px;
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -909px;
    margin-right: -12px;
    margin-left: 12px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 882px;
    margin-right: -12px;
    margin-left: 12px;
  }

  .u-section-5 .u-video-1 {
    height: 201px;
    width: 340px;
    margin-top: 48px;
    margin-right: -12px;
    margin-left: auto;
  }

  .u-section-5 .u-gallery-1 {
    height: 447px;
    margin-top: 79px;
    margin-bottom: 42px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 2920px;
}

.u-section-6 .u-image-1 {
  height: 563px;
  margin-top: 144px;
  margin-bottom: 0;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  margin: -162px -11px 0 11px;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: 195px 0 0 50px;
}

.u-section-6 .u-text-3 {
  margin: 37px 28px 0;
}

.u-section-6 .u-video-1 {
  width: 1118px;
  height: 660px;
  margin: 248px auto 0 0;
}

.u-section-6 .embed-responsive-1 {
  position: absolute;
}

.u-section-6 .u-gallery-1 {
  height: 572px;
  width: 1140px;
  margin: 94px auto 60px -22px;
}

.u-section-6 .u-gallery-inner-1 {
  --gap: 37px;
  grid-template-columns: repeat(2, auto);
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3397px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 45px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-video-1 {
    width: 940px;
    height: 555px;
    margin-top: 412px;
  }

  .u-section-6 .u-gallery-1 {
    height: 472px;
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3914px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 74px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -48px;
  }

  .u-section-6 .u-video-1 {
    width: 720px;
    height: 425px;
    margin-top: 441px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1446px;
    width: 720px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3180px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-text-2 {
    margin-top: -469px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-6 .u-video-1 {
    width: 540px;
    height: 319px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1085px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2364px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 133px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: -207px;
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 89px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 68px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-6 .u-video-1 {
    height: 201px;
    margin-top: 398px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-gallery-1 {
    height: 683px;
    margin-top: 10px;
    margin-bottom: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}