.u-section-1 .u-sheet-1 {
  min-height: 1033px;
}

.u-section-1 .u-text-1 {
  margin: 35px auto 0 450px;
}

.u-section-1 .u-text-2 {
  font-size: 9.375rem;
  margin: 20px 31px 0;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  margin: 30px auto 0 92px;
}

.u-section-1 .u-text-3 {
  margin: 67px 67px 0;
}

.u-section-1 .u-social-icons-1 {
  height: 46px;
  width: 508px;
  min-width: 108px;
  margin: 92px auto 60px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-icon-6 {
  height: 100%;
}

.u-section-1 .u-icon-7 {
  height: 100%;
}

.u-section-1 .u-icon-8 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 371px;
  }

  .u-section-1 .u-text-2 {
    font-size: 6rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1176px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    margin-left: 40px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 387px;
    margin-left: -24px;
    margin-right: -24px;
  }
}